button{
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: darkred 4px solid;
    border-top: darkred 4px solid;
    font-size: 1.4em;
    padding: 0.6rem 1rem;
    transition: padding .3s;
    margin: auto 1rem;
}

button:hover{
    padding: 0.8rem 1rem;
}

.desktopButton{
    button:hover{
        cursor: none;
    }
}

.mobileButton{
    width: max-content;
    align-self: center;
}

.Mobile{
    button{
        margin-top: 1rem;
    }
}